.wrapper-block {
  display: flex;
  flex-wrap: wrap;
}

.card-block {
  display: block;
  width: 260px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  margin: 10px;
}
.avatar {
  width: 160px;
  height: 160px;
  background: #ccc;
  border-radius: 3px;
}
.name {
  margin: 10px 0;
}

.company,.city {
  margin-left: 5px;
}

.age {
  display: inline-block;
  margin-bottom: 10px;
}

.phone {
  margin-bottom: 10px;
}

.nameStyle {
  font-size: 24px;
  color: #333;
  text-decoration: none;
}

.about {
  font-size: 14px;
}

.userContainer {
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}